body {
  margin: 0;
  background-color: #212433;
}

.nav-container {
  position: relative;
  width: auto;
  height: 80px;
}

.icon {
  position: relative;
  width: 125px;
  height: 34px;
  margin-left: 30px;
}

svg {
  position: relative;
  width: 80px;
  height: 48px;
  fill: rgba(255, 255, 255, 0.4431372549);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

svg:hover {
  fill: #ffffff;
}

.general {
  position: relative;
  left: 500px;
}

.wiki {
  position: relative;
  left: 550px;
  top: 7px;
}

.championship {
  position: relative;
  left: 600px;
  top: 2px;
}

.records {
  position: relative;
  left: 650px;
  top: 2px;
}

.bolids {
  position: relative;
  left: 700px;
  top: 8px;
}

#wiki {
  height: 60px;
}

#bolid {
  height: 60px;
}

#general-container {
  width: auto;
  height: 450px;
  background-image: url(/img/bg2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.darker {
  background: rgba(0, 0, 0, 0.5607843137);
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 15px;
  position: relative;
  width: 260px;
  height: 200px;
  left: 840px;
}

.general-text {
  color: white;
  position: relative;
  text-align: center;
  font-size: 28px;
}

.join {
  position: relative;
  bottom: -20px;
  left: 990px;
  width: 165px;
  height: 47px;
  background-color: #4b9340e8;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.forum {
  position: relative;
  bottom: -20px;
  left: 615px;
  width: 165px;
  height: 47px;
  background-color: #7a7b7eda;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}